@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.woff2") format("woff2"), url("../fonts/Lato-Black.woff") format("woff");
    font-display: swap;
    font-weight: 900;
    font-style: normal;
}



[class*="__container"] {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

body {
    font-family: "Lato";
    background-color: rgb(236, 225, 192);
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
}

.wrapper {
    flex-grow: 1;
}

.header__title {
    margin-top: 15px;
    font-size: 30px;
    color: rgb(37, 33, 33);
    margin-bottom: 40px;
}

.homework__section {
    margin-bottom: 50px;
}

.homework__title {
    font-size: 24px;
    color: rgb(24, 120, 230);
    margin-bottom: 15px;
}

.text {
    color: rgb(68, 9, 48);
}